*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
    font-family: 'Pangolin', cursive;
    max-width: 480px; /* tamaño maximo de la página*/
    margin: auto;
}