
.caja{ 
    max-width: 1366px;
    height: auto;
    margin: auto;
}

.header{

    height: 8rem;
    padding: 0rem 2rem 0rem 1rem;
    background-color:rgb(213, 169, 140);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .div-derecho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.caja-carreta {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.burbuja {
  position: absolute;
  top: -10;
  right: -4;
  background-color: red;
font-size: 1.2rem;
color: #fff;
padding: 0.1rem;
border-radius: 100%;
}

.titulo{
    padding: 1.3rem;
    font-size: 5rem;
    font-weight: 900;
}

.carreta{
    width: 3rem;
    height: 3rem;
}


.comentario{
    width: 3rem;
    height: 3rem;
}

/***********************************************/

.caja1{
    height: 5rem;
    padding: 2rem;
    width: auto;

    display: flex;
    flex-direction: row;
}



#searchInput{
    width: 45rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 2rem;
    padding-left: 1rem;
}

#reiniciarBtn{
    width: 8rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgb(255, 246, 240);
}

#reiniciarBtn:hover{
    background-color: rgb(240, 223, 213);
}

.indice{
    display: block;
    margin: 0 0 0 auto;
    padding-left: 0.7rem;
    padding-top: 0.2rem;
}
  
.imgind{
    width: 4rem;
    height: 3rem;
}

/*********************************/

.name{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    font-weight: 1000;
    font-size: 450%;
    padding-top: 4rem;
}

/*****************************/

.catalogo{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cajas{
    width: 30%;
    height: 80%;
    background-color: rgb(208, 179, 163);
    margin-left: 0.2rem;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
}

/***************CONTENIDO DE CAJAS POPULARES******************/
.imagen_pop{
    width: 100%;
    height: 40rem;
    border-radius: 1.5rem  1.5rem 0 0;
    object-fit: cover;

}

.titulo_pop{
    font-size: 3rem;
    text-align: center;
}

.precio_pop{
    margin-top: 0.5rem;
    font-size: 2rem;
    text-align: center;
}
/************MES****************/

.mes{
    height: 45rem;
    margin-top: 13rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
}

.onemes{
    margin: 1rem;
    width: 30%;
}

.caja_tezt_mes{
    width: 66%;
    height: 40rem;
    background-color: rgb(220, 206, 198);
    margin-top: 4rem;
    margin-left: 0.6rem;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
}
.textmes{
    font-size: 6rem;
}
/***************CONTENIDO DE CAJA MES******************/

.descripción{
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
}

.tit{
    font-size:4rem;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    height: 5rem;
    background-color: rgb(220, 206, 198);
}

.imgmes{
    width: 100%;
    height: 38rem;
}



/**************FOOTER******************/

.footer{
    background-color:rgb(213, 169, 140);
    padding: 1rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
}

.fotinf{
    height: 15rem;
    width: 70rem;
}

.font_titu{
    font-size: 3rem;
    padding: 1rem;
}

.font_one{
    font-size: 1.8rem;
    padding: 0 1rem 1rem 1rem;
    color: black;
}

.font_two{
    font-size: 1.8rem;
    padding: 0 1rem 1rem 1rem;
    color: black;
}

.font_three{
    font-size: 1.8rem;
    padding: 0 1rem 1rem 1rem;
    color: black;
}

/********************************/
.fotcontac{
    height: 15rem;
    width: 52rem;
    margin-right: 0.7rem;
    text-align: right;
}

.font_titu{
    font-size: 3rem;
    padding: 1rem;
}
.cont_icon{
    margin-top: -0.5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
}

.correo{
    margin-right: 1rem;

}

/*****************/
.indice-vertical {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: rgb(255, 245, 231);
    padding: 10px;
    z-index: 9999;
  }
  
  .indice-lista {
    padding: 0;
  }
  
  .indice-lista li {
    margin-bottom: 10px;
    font-size: 2rem;
    margin: 20px;
  }

  .cerrar-indice{
    all: unset;
    font-size: 2rem;
  }

  .titu-indice{
    font-size: 3rem;
    color: #be8585;
  }

  
/*******************************************/
.ventana-emergente {
    position: absolute;
    background-color: rgb(255, 245, 231);
    padding: 20px;
    border: 4px solid rgb(213, 169, 140)  ;
    z-index: 9999;
  }

  .ventana-emergente-comprar {
    top: 10px;
    right: 10px;
  }
  
  .ventana-emergente-comentario {
    top: 10px;
    right: 10px;
    width: 30rem;
    height: 32rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    border-color:rgb(213, 169, 140) ;
    background-color: rgb(255, 245, 231);
    border-width: 1rem;
  }
  
  .comentario-input {
    width: 95%;
    height: 200px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    resize: none;
  }

  .Enviar{
    border-radius: 1.5rem;
    font-size: 1.5rem;
    width: 8rem;
  }
  
  .enviar-btn {
    margin-top: 2rem;
    align-self: flex-end;
    margin-right: 1rem;
  }
  
  .ventana-cerrarr{
    margin-right: 23rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  

  /************************/
  .caja-catalogo{
    padding: 2rem;
    margin: 3rem 0 0 3rem;
    width: 60%;
    height: 65%;
    background-color: rgb(220, 206, 198);
    border: 1px solid #2e2d2d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  }
  /********************************/
    /**************CUADROS - LIBROS*********************/

  .div-flotante {
    position: fixed;
    top: 60%;
    left: 50%;
    padding: 2rem;
    width: 85%;
    height: auto;
    max-height: 80%; 
    overflow-y: auto; 
    transform: translate(-50%, -50%);
    background-color: rgb(220, 206, 198);
    border: 1px solid #2e2d2d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
    .Comprar{
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
     }

    .cerrar-flotante{
        font-size: 2rem;
        margin-top: 1rem;
        background-color: rgb(220, 206, 198);
        border: none;
    }

    .titu{
        padding-left: 1rem;
        font-size: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .caja_column{
        display: flex;
        flex-direction:row;
        width: 100%;
    }


    .caratula{
        padding-left: 1rem;
        width: 20rem;
        height: 20rem;
        object-fit: cover;
    }

    .caj_inf{
        width: 95%;
        font-size: 2rem;
        padding-left: 1rem;

    }
  /***************************/
  .boton-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /*******************/
  .div-no-existencia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  



/*******************/
.ventana-emergente-1{
    top: 330%;
    border-color:rgb(213, 169, 140) ;
    background-color: rgb(255, 245, 231);
    border-width: 2rem;
    width: 50rem;
    height: 13rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
    border-radius:2rem;
  }

  .ventana-cerrar{
    margin-right: 45rem;
    padding-top: 2rem;
  }


  .ventana-emergente-2{
    top: 328%;
    border-color:rgb(213, 169, 140) ;
    background-color: rgb(255, 245, 231);
    border-width: 2rem;
    width: 50rem;
    height: 16.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
    border-radius:2rem;
  }

  .ventana-emergente-3{
    top: 330%;
    border-color:rgb(213, 169, 140) ;
    background-color: rgb(255, 245, 231);
    border-width: 2rem;
    width: 50rem;
    height: 12rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
    border-radius:2rem;
  }

  .mensajee{
    margin-top: 10rem;
    font-size: 3rem;
  }

  /*******************************/
  /* Estilos CSS adicionales */
  .ventana-emergente .ventana-emergente-comprar{
    border-radius: 1.5rem;
    background-color: rgb(255, 245, 231);
    width: 40rem;
  }
  .ventana-emergente-comprar form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ventana-emergente-comprar label {
    margin-bottom: 5px;
  }

  .ventana-emergente-comprar input,
  .ventana-emergente-comprar button {
    margin-bottom: 10px;
  }

  .titu-compra{
    font-size: 3rem;
  }

  .text1-compra{
    font-size: 1.5rem;
  }

  .caja_com{
    display: flex;
    justify-content: space-between;
  }

  .total-compra{
    border-radius: 1.5rem;
    font-size: 1.5rem;
    width: 8rem;
  }

  .borrar-todo{
    border-radius: 1.5rem;
    font-size: 1.5rem;
    width: 15rem;
  }

  .form-compra{
    font-size: 1.5rem;
  }

  .comprar-comprar{
    border-radius: 1.5rem;
    font-size: 2rem;
    width: 10rem;
  }

  .ventana-cerrar{
    font-size: 2rem;
  }
/**********************/
.compras-header{
  color: #080808;
  font-size: 2rem;
  background-color: #f0eaea;
  margin: 1rem;
  padding: 1rem;
}

