@media screen and (max-width: 375px){
    .caja{
        background-color: rgb(255, 245, 231);
        height: 108rem;
        margin: auto;
    }
    
    .header{
        height: 6rem;
        background-color:rgb(213, 169, 140);
    
        display: flex;
        flex-direction: row;
    }
    
    .titulo{
        padding: 1rem;
        font-size: 300%;
        font-weight: 500;
    }
    
    .carreta{
        display: block;
        height: 4em ;
        margin: 1.5rem 2rem 0 auto ;
        width: 3rem;
        height: 3rem;
    }
    
    
    .comentario{
        margin-top: 1.5rem;
        margin-right:1.5rem;
        width: 3rem;
        height: 3rem;
    }
    
    /***********************************************/
    
    .caja1{
        padding: 0.5rem;
        padding-top: 1rem;
        width: auto;
    
    
        display: flex;
        flex-direction: row;
    }
    
    
#searchInput{
        width: 15rem;
        height: 3rem;
        border: 1px solid black;
        font-size: 1rem;
        font-weight: 500;
    }
    
    #searchInput:hover{
        border-color:rgb(213, 169, 140);
    }


    #reiniciarBtn{
        font-size: 0.5rem;
        width: 6rem;
        height: 3rem;
        border-color: black;
    }

    .indice{
        display: block;
        margin: 0 0 0 auto;
        width: 4rem;
        height: 3rem;
        margin-right: 0.8rem;
    }
    
    .imgind{
        width: 3rem;
        height: 2.5rem;
    }
    
    /*********************************/
    
    .name{
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        font-weight: 800;
        font-size: 3rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
    
    /*****************************/
    
    .catalogo{
        height: 50rem;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .cajas{
        width: 9.3rem;
        height: 20rem;
        background-color: rgb(208, 179, 163);
        margin-left: 0.8rem;
        margin-top: 1.5rem;
    }

    
    /***************CONTENIDO DE CAJAS POPULARES******************/
    .imagen_pop{
        width: 100%;
        height: 15rem;
    }

    .titulo_pop{
        font-size: 1.2rem;
        text-align: center;
    }

    .precio_pop{
        margin-top: 0.4rem;
        font-size: 1.2rem;
        text-align: center;
    }
    
    /****************************/
    
    .mes{
        height: 26rem;
        margin: 1rem;
    
        display: flex;
        flex-direction: row;
    }
    
    .onemes{
        height: 24;
        margin: 1rem;
    }
    
    .names{
        font-size: 1.4rem;
        width: 15rem;
        height: 3rem;
        padding: 0.5rem;
    }
    
    .caja_tezt_mes{
        width: 22rem;
        height: 20rem;
        background-color: rgb(220, 206, 198);
        margin-left: 0.5rem;
        text-align: center;
        padding-top: 1rem;
    }

    .textmes{
        font-size: 2rem;
    }
    /***************CONTENIDO DE CAJA MES******************/

    .descripción{
        font-size: 1rem;
        padding: 0.5rem;
    }

    .tit{
        font-size:1.2rem;
        text-align: center;
        padding: 1rem;
        width: 100%;
        height: 3rem;
        background-color: rgb(220, 206, 198);
    }

    .imgmes{
        width: 100%;
        height: 20rem;
    }

    
    /********************************/
    
    .footer{
        height: 14rem;
        padding: 1.5rem;
        margin-top: 2rem;
    
        display: flex;
        flex-direction: row;
    }
    
    .fotinf{
        height: 11rem;
        width: 80rem;
    }
    

.font_titu{
    font-size: 2rem;
    padding: 1rem;
}

.font_one{
    font-size: 1rem;
    padding: 0 1rem 1rem 1rem;
    color: black;
}

.font_two{
    font-size: 1rem;
    padding: 0 1rem 1rem 1rem;
    color: black;
}

.font_three{
    font-size: 1rem;
    padding: 0 1rem 1rem 1rem;
    color: black;
}

/********************************/
.fotcontac{
    height: 10rem;
    width: 40rem;
    margin-right: 0.7rem;
    text-align: right;
}

.cont_icon{
    margin-top: -0.5rem;
    margin-right: 3.5rem;
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
}

.correo{
    font-size: 1rem;
    margin-right: 1rem;

}

}

 /**************CUADROS - LIBROS*********************/

 .div-flotante {
    position: fixed;
    padding: 0.5rem;
    width: 90%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(220, 206, 198);
    border: 1px solid #2e2d2d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
    .Comprar{
        width: 2rem;
        height: 2rem;
        margin-left: 13rem;
        margin-top: 1rem;
    }

    .cerrar-flotante{
        font-size: 2rem;
        margin-top: 1rem;
        background-color: rgb(220, 206, 198);
        border: none;
    }

    .titu{
        padding-left: 1rem;
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .caja_column{
        display: flex;
        flex-direction:row;
        width: 100%;
    }


    .caratula{
        padding-left: 1rem;
        width: 15rem;
        height: 15rem;
    }

    .caj_inf{
        width: 95%;
        font-size: 1.3rem;
        padding-left: 1rem;

    }




